
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
/
/
/
    my code
/
/
/
*/

* {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-iron {
    font-family: 'Bellefair', serif;
    font-size: 40px;
    font-weight: 555;
    color: #CC7839;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    
    list-style: none;
    padding: 0 16px;
    margin-bottom: 5px;
}

header nav ul li a {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    color: #CC7839;
    text-transform: uppercase;
}

header .header-link {
    display: none;
}


@media only screen and (max-width: 500px) {
    
    header .header-iron {
        font-size: 35px; 
    }
}

/*



    --===index===--



*/
main {
    padding-top: 100px;
}

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(imagens/LegacyOfTheBeastCapa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}



.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px;
}

.index-banner h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    font-weight: 555;
    color: #fff;    
    text-shadow: 3px 3px 10px #111;
    -webkit-text-stroke: 1px black;
    text-align: center;
    line-height: 50px;
}

.index-banner h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 40px;
    font-weight: 555;
    color: #fff;    
    text-shadow: 3px 3px 10px #111;
    -webkit-text-stroke: 1px black;
    text-align: center;
    line-height: 50px;
}

.index-banner h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: #fff;
    font-style: italic;
    -webkit-text-stroke: 1px black;
    text-align: center;
    line-height: 35px;
}

.index-links div {
    margin: 15px 16px 0;
    width: calc(100% - 30px);
    height: 100px;
    background-color: #111;
    border: 2px solid rgb(128, 0, 0);
}

.index-links div h3 {
    font-family: 'Bellefair', serif;
    font-size: 30px;
    line-height: 100px;
    color: #CC7839;
    text-align: center;
    text-transform: uppercase;
}

/*


    --===footer===--


*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 30px;
    background-color: rgb(128, 0, 0);
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Bellefair', serif;
    font-size: 24px;
    line-height: 100px;
    color: #CC7839;
    line-height: 40px;
}

.footer-links-viagens {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

/*


    --===para desktop===--


*/
@media only screen and (min-width: 1100px) {

    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    header .header-link {
        display: block;
        font-family: 'Bellefair', serif;
        font-size: 20px;
        color: #CC7839;
        text-transform: uppercase;
        line-height: 40px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 28px;
        padding: 2px 50px;
        background-color: #f3f3f3;
    }
    
    header .header-iron {
        margin: 30px 0;
        text-align: left;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
        line-height: 40px;
    }
    header nav ul {
        margin: 20px 0 0 20px;
        float: left;
    }
    
    header nav ul li a {
        line-height: 60px;
    }
    
    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #111;
        border: none;
        float: left;
    }

    .index-box-quadrado {
        width: calc(25% - 20px) !important;
    }

    .index-box-long {
        width: calc(50% - 20px) !important;
    }

    .index-links div h3 {
        line-height: 230px;
    }
    /*musicas versao só desktop dps fazer reactive*/
    .show-links {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .show-links h2 {
        font-family: 'Bellefair', serif;
        font-size: 28px;
        color: #CC7839;
        text-transform: uppercase;
    }

    .show-links .wrapper div p {
        padding-top: 45%;
        text-align: center;
        font-family: 'Bellefair', serif;
        font-size: 25px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .show-links .wrapper div {
        float: left;
        width: 230px;
        height: 230px;
        margin: 20px 10px 0px;
        
    }
    .aces {
        background-image: url(imagens/CapaAcesHigh.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }
    .slave {
        background-image: url(imagens/CapaPowerSlave.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
    }
    .mind {
        background-image: url(imagens/CapaPieceOfMind.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
    }
    .beast {
        background-image: url(imagens/CapaNumberOfTheBeast.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
    }
    .fear {
        background-image: url(imagens/CapaFearOfTheDark.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }
    .sign {
        background-image: url(imagens/CapaSignOfTheCross.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }

    /*pagina com videos*/

    .wrapper-musica {
        width: 1250px;
        margin: 0 auto;
    }

    .musica video {
        float: left;
        margin: 20px 20px 30px;
        border: 1px solid rgb(128, 0, 0);
    }

    .musica h2 {
        font-family: 'Bellefair', serif;
        font-size: 28px;
        color: #CC7839;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 30px;
    }

    .musica h3 {
        font-family: 'Bellefair', serif;
        font-size: 27px;
        color: #CC7839;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-align: center;
    }

    .musica p {
        font-family: 'Bellefair', serif;
        font-size: 18px;
        line-height: 24px;
        color: #CC7839;
        text-transform: uppercase;
        height: 100%;
        column-count: 2;
        column-gap: 20px;
    }
    
    .footer-links-viagens {
        display: block;
        font-family: 'Bellefair', serif;
        font-size: 24px;
        color: #CC7839;
        line-height: 40px;
    }

    footer ul {
        padding-right: 300px;
    }

    footer ul li p {
        font-family: 'Bellefair', serif;
        font-size: 24px;
        line-height: 100px;
        color: #CC7839;
        line-height: 40px;
        text-transform: uppercase;
    }
    

}